/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    color:white;
    min-height: 100vh;
    background-image: url('images/sax_bg.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}